@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: Miama;
    src: url("../fonts/Miama.ttf");
}
/* font-family: "Miama", sans-serif; */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* common css style */
body{
    font-family: "Inter", sans-serif;
}
main, footer{
    background-color: #000000;
    color: white;
}
.display-flex{
    display: flex;
}
/* .hide{
    display: none;
} */

.header-section, 
.header-section-content, 
#Change-Your-Habits, 
.run-container, 
.trainings-and-exercises, 
.bmi-content, 
.bmi-section-container, 
.team-container, 
.faq-container, 
.footer-section{
    max-width: 1060px;
    margin: 0 auto;
}

.bmi-content-header{
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 900;
}

/* ---------header--------- */
.header-container{
    /* max-width: 1440px; */
    height: 715px;
    background: linear-gradient(to bottom, #000000, #434343);
    padding-top: 57px;
    /* border: 1px solid red; */
}
.header-section{
    /* max-width: 1060px;
    margin: 0 auto; */
    /* border: 1px solid red; */
}
.nav-container{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    color: #E6533C;
    font-weight: 800;
    font-style: italic;
    font-size: 2.25rem;
}
.mobile-nav-menu{
    display: none;
}
.desktop-nav-menu{}
.nav-menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.nav-menu li{
    list-style: none;
    margin: 12px 0;
}
.nav-menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.125rem;
    margin-right: 47px;
}
#home-design{
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 46px;
    background-color: #E6533C;
    margin-left: 4px;
}
#about-button{
    margin-right: 4px;
    padding: 0 20px;
}

/* ------hero-section------- */
.header-section-content{}
.hero-section{
    justify-content: space-between;
}

.hero-text-content{
    width: 520px;
    height: 440px;
    margin-top: 96px;
    margin-right: 54px;
    /* border: 1px solid red; */
}
.hero-text-content h1{
    font-size: 4.875rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 115%;
}
.hero-text-content h1 span{
    font-family: "Miama", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
.hero-text-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 1.75rem 0;
}
.color-butt{
    background-color: #E6533C;
    border-radius: 2.63rem;
    border: none;
    padding: 1rem 2.5rem;
    color: #FFFFFF;
    font-size: 1.13rem;
    font-weight: 600;
}
.border-butt{
    background-color: transparent;
    border-radius: 2.63rem;
    border: 0.06rem solid #FFFFFF;
    padding: 1rem 2.5rem;
    color: #FFFFFF;
    font-size: 1.13rem;
    font-weight: 600;
}

.hero-img-content{}

.hero-img-top{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 1.06rem 1.43rem;
    /* padding: 17px 23px; */
    text-align: start;
    position: absolute;
    margin-top: 156px;
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-img-top h5{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 900;
}
.hero-img-top h6{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8125rem;
}

.hero-img-content img{
    margin-top: 31px;
    object-fit: cover;
}

.hero-img-bottom{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    padding: 1.25rem 1.43rem;
    margin-top: -159px;
    margin-left: -93px;
    justify-content: center;
    align-items: center;
}
.button-text-img{
    text-align: start;
}
.button-text-img h5{
    font-weight: 900;
    color: #FAFAF9;
    font-size: 1.5rem;
}
.button-text-img h6{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
}

.play-button{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    margin-top: 8px;
}
.play-button i{
    color: #FAFAF9;
}

/* Change-Your-Habits */
#Change-Your-Habits{
    /* margin: 0 auto;
    max-width: 1044px; */
    /* height: 452px; */
    text-align: center;
    padding: 100px 0;
}
.habits-container{}

.section-text{
    max-width: 617px;
    height: 120px;
    margin: 0 auto 58px;
    /* border: 1px solid red; */
}
.section-text h2{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.section-text p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.Change-Your-Habits-content{
    justify-content: space-between;
    align-items: center;
}

.your-habit{
    gap: 40px;
    width: 231px;
    height: 274px;
    /* border: 1px solid red; */
}
.your-habit img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
}
.your-habit h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 6px;
}
.your-habit p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.875rem;
}

/* run-container */
.run-container{
    /* width: 1060px; */
    height: 371px;
    background-color: #222222;
    border-radius: 18px;
    padding: 30px 0;
    /* border: 1px solid red; */
}
.run-section{
    justify-content: space-evenly;
}

.section-text2{
    width: 400px;
    /* height: 290px; */
    margin: 11px 165px 11px 0;
    /* border: 1px solid red; */
}
.section-text2 h2{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.section-text2 p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}
.section-text2 button{
    padding: 16px 71.5px;
}

.run-img{}
.run-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 30%;
}
/* trainings-and-exercises */
.trainings-and-exercises{
    /* height: 581px; */
    padding: 100px 0 88px;
}

.top-section-content{
    margin-bottom: 58px;
    max-width: 641px;
}
.top-section-content h2{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.top-section-content p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
}

/* trainings & exercises gallery-start */
.trainings-and-exercises-gallery{
    height: 403px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.training-and-exercise{
    position: relative;
}
.tae-part1{
    grid-column: 1/span 4;
    grid-row: 1/span 10;
}
.tae-part2{
    grid-column: 5/span 11;
    grid-row: 1/span 10;
}
.tae-part3{
    grid-column: 16/span 5;
    grid-row: 1/span 10;
}
.tae-part4{
    grid-column: 1/span 8;
    grid-row: 11/span 10;
}
.tae-part5{
    grid-column: 9/span 5;
    grid-row: 11/span 10;
}
.tae-part6{
    grid-column: 14/span 7;
    grid-row: 11/span 10;
}

/* img/te-img */
.training-and-exercise img{
    width: 100%;
    /* height: 100%; */
    height: 201.5px;
    object-fit: cover;
    overflow: hidden;
}

.te-img1, .te-img2, .te-img3, .te-img4, .te-img5, .te-img6{
    position: relative;
}

.overlay1{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    /* height: 201.5px; */
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}
.overlay2{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    /* height: 201.5px; */
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}
.overlay3{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    /* height: 201.5px; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay4{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 201.5px;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay5{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 201.5px;
    /* height: 100%; */
    background-color: rgba(66, 255, 0, 0.3);
}
.overlay6{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 201.5px;
    /* height: 100%; */
    background-color: rgba(0, 71, 255, 0.3);
}

/* h5 / text te */
.training-and-exercise h5{
    position: absolute;
    color: #FFFFFF;
    font-size: 0.87rem;
    font-weight: 500;
}
#text-te1{
    color: #000000;
    top: 157px;
    left: 24px;
}
.text-te2{
    top: 31px;
    left: 25px;
}
.text-te3{
    top: 146px;
    left: 27px;
}
.text-te4{
    top: 25.5px;
    left: 249px;
}
.text-te5{
    top: 145.5px;
    left: 34px;
}
.text-te6{
    top: 142.5px;
    left: 38px;
}

/* trainings & exercises gallery-end */

/* bmi-container */
.bmi-container{}

.bmi-content{
    margin-bottom: 88px;
}
.bmi-content h2{}
.bmi-content p{}

.bmi-section{
    /* height: 487px; */
    background-color: #222222;
    padding-top: 49px;
    padding-bottom: 52px;
}

.bmi-section-container{
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 386px;
}

.bmi-chart{}
/* .bmi-content-header{} */

table{
    margin-top: 52px;
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
}
th{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
    text-align: start;
}

.calculate-bmi{}

.calculate-bmi-content{}
/* .bmi-content-header{} */
.calculate-bmi-content p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
    max-width: 550px;
    margin: 14px 0 34px;
}
/* -----form----- */
.bmi-form{
    margin-bottom: 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}
input, select{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 13px 0 13px 20px;
    /* width: 282px; */
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
#activity-factor{
    grid-column: 1/span 2;
}
.select-activity option, 
#select-sex option{
    color: #000000;
    font-size: 0.87rem;
    font-weight: 400;
    background-color: #FFFFFF;
}

.calculate-bmi button{
    padding: 16px 70.5px;
}
/* team container */
.team-container{
    /* border: 1px solid red; */
    /* margin: 88px auto 88px; */
    /* margin-top: 88px; */
    padding: 88px 0;
}
.team-section{}

.meet-team-content{
    text-align: center;
    margin: 0 auto 58px;
}

.team-member-img{
    height: 604px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.team-member-img img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
    filter: brightness(80%);
    object-fit: cover;
}
.trainer{
    position: relative;
}
.trainer-info{
    /* width: 117px; */
    height: 44px;
    position: absolute;
    left: 19px;
    bottom: 16px;
    /* border: 5px solid red; */
}
.trainer-info h5{
    font-size: 1.25rem;
    font-weight: 900;
    color: #FFFFFF;
}
.trainer-info h6{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* faq container section */
.faq-container{
    padding-bottom: 88px;
}
.faq-container-section{
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    height: 600px;
    padding: 50px 0;
}

.faq-left-part{
    flex-direction: column;
    justify-content: space-between;
}

.faq-heading{}
.faq-heading h2{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    width: 450px;
}

.faq-footer-part{
    background-color: #000;
    width: 300px;
    padding: 20px 30px;
    border-radius: 8px;
}
.faq-img-section{
    width: 160px;
    height: 40px;
}
.faq-img-section img{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-right: 2px;
}
.faq-footer-part h6{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 900;
    color: #FFFFFF;
}
.faq-footer-part p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.faq-right-part{
    width: 400px;
}

.faq{
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.question{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 0 13px 20px;
    font-weight: bold;
    cursor: pointer;
    /* list-style: none; */
    display: block;
    border-radius: 8px;
}
.answer{
    font-size: 0.87rem;
    color: #000;
    background-color: white;
    padding: 13px 20px;
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
    border-radius: 8px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .question + .answer {
    display: block;
}

/* footer container */
.footer-container{
    height: 489px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 66px 0 35px;
}
.footer-section{
    /* border: 1px solid red; */
    /* padding: 66px 0 35px; */
}
.footer-section hr{
    margin: 59px 0 36px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-content-top{
    justify-content: space-between;
    /* border: 1px solid red; */
}

.brand-information{}
.brand-information h2{
    font-size: 4.37rem;
    margin-bottom: 20px;
}
.brand-information p{
    max-width: 423px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.87rem;
}

.site-links{}
.site-links h4{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 39px;
}

.site-link{
    /* border: 1px solid red; */
}
.site-link ul{}
.site-link ul li{
    list-style: none;
    margin-bottom: 20px;
}
.site-link ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
}
.footer-content-bottom{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
}











/* mobile responsiveness */
@media screen and (max-width: 576px){
    .header-section, 
    .header-section-content, 
    #Change-Your-Habits, 
    .run-container, 
    .trainings-and-exercises, 
    .bmi-content, 
    .bmi-section-container, 
    .team-container, 
    .faq-container, 
    .footer-section{
        max-width: 353px;
        margin: 0 auto;
    }

    .header-container{
        /* max-width: 393px; */
        height: 1119px;
        padding-top: 52px;
    }
    .header-section{
        /* max-width: 353px;
        margin: 0 auto; */
    }
    .brand-name{
        font-size: 2.25rem;
    }
    .mobile-nav-menu{
        display: inline;
    }
    .mobile-nav-menu i{
        color: #FFFFFF;
    }
    /* .desktop-nav-menu,  */
    .desktop-part{
        display: none;
    }
    .bmi-content-header{
        font-size: 1rem;
    }

    /* ------hero-section------- */
    .hero-section{
        flex-direction: column;
    }
    .hero-text-content{
        max-width: 352px;
        height: 335px;
        margin: 51px 0 0;
    }
    .hero-text-content h1{
        max-width: 250px;
        font-size: 2.25rem;
    }
    .hero-text-content p{
        max-width: 274px;
        font-size: 1rem;
        margin: 1.75rem 0;
    }
    .Club{
        display: none;
    }
    .color-butt{
        padding: 16px 41.5px;
        font-size: 1.13rem;
        margin-right: 5px;
    }
    .border-butt{
        padding: 16px 20.5px;
        font-size: 1.13rem;
    }

    .hero-img-top{
        width: 145px;
        height: 74px;
        padding: 12px 17px;
        margin-top: 99px;
        margin-left: 194px;
    }
    .hero-img-top h5{
        font-size: 1.89rem;
    }
    .hero-img-top h6{
        font-size: 0.61rem;
    }

    .hero-img-content img{
        width: 100%;
        margin: 50px 0 50px;
    }

    .hero-img-bottom{
        width: 155px;
        height: 72px;
        padding: 15px 17px;
        margin-top: -370px;
        margin-left: 8px;
    }
    .button-text-img h5{
        font-size: 1.13rem;
    }
    .button-text-img h6{
        font-size: 0.75rem;
    }

    .play-button{
        width: 30.24px;
        height: 30.24px;
    }
    /* Change-Your-Habits */
    #Change-Your-Habits{
        padding: 66px 0;
    }

    .section-text{
        max-width: 318px;
        /* height: 120px; */
        margin: 0 auto 58px;
        /* border: 1px solid red; */
    }
    .section-text h2{
        font-size: 2rem;
        margin-bottom: 14px;
    }
    .section-text p{
        margin-bottom: 58px;
    }

    .Change-Your-Habits-content{
        flex-direction: column;
        /* justify-content: space-between;
        align-items: center; */
    }

    .your-habit{
        gap: 0;
        margin-bottom: 40px;
        /* border: 1px solid red; */
    }

    /* run-container */
    .run-container{
        max-width: 353px;
        height: 531px;
        background-color: #222222;
        border-radius: 18px;
        padding: 30px 0;
        /* border: 1px solid red; */
    }
    .run-section{
        flex-direction: column;
    }

    .section-text2{
        width: 287px;
        /* height: 264px; */
        margin: 31px 33px;
        /* border: 1px solid red; */
    }
    .section-text2 h2{
        font-size: 2rem;
    }
    .section-text2 p{
        margin-bottom: 24px;
    }
    .section-text2 button{
        font-size: 1rem;
        padding: 16px 103px;
    }

    .run-img{}
    .run-img img{
        width: 287px;
        height: 170px;
        border-radius: 18px;
        margin: 0 33px 35px 33px;
        object-fit: cover;
    }

    /* trainings-and-exercises */
    .trainings-and-exercises{
        padding: 66px 0 30px;
    }

    .top-section-content{
        margin-bottom: 38px;
    }
    .top-section-content h2{
        font-size: 2rem;
        margin-bottom: 14px;
    }
    .top-section-content p{
        max-width: 330px;
    }
    
    /* trainings & exercises gallery-start */
    .trainings-and-exercises-gallery{
        height: 253px;
    }
    .tae-part1{
        grid-column: 1/span 11;
    }
    .tae-part2{
        grid-column: 12/span 9;
    }
    .tae-part4{
        grid-column: 1/span 9;
    }
    .tae-part5{
        grid-column: 10/span 11;
    }
    .training-and-exercise img{
        width: 100%;
        height: 128px;
    }
    #text-te1{
        color: #FFFFFF;
        top: 95px;
        left: 16px;
    }
    .text-te2{
        top: 25px;
        left: 31px;
    }
    .text-te4{
        top: 99px;
        left: 11px;
    }
    .text-te5{
        top: 98px;
        left: 18px;
    }
    .overlay1{
        width: 100%;
        height: 128px;
        /* height: 100%; */
    }
    .overlay2{
        width: 100%;
        height: 128px;
    }
    .overlay4{
        width: 100%;
        height: 128px;
    }
    .overlay5{
        width: 100%;
        height: 128px;
    }
    /* trainings & exercises gallery-end */

    /* bmi container */
    .bmi-container{}

    .bmi-content{
        margin-bottom: 32px;
    }
    .bmi-content h2{}
    .bmi-content p{}

    .bmi-section{
        /* height: 487px; */
        background-color: #222222;
        padding-top: 34px;
        padding-bottom: 43px;
    }

    .bmi-section-container{
        flex-direction: column;
        /* border: 1px solid red; */
        max-width: 353px;
        height: 695px;
        /* margin: 0 auto; */
        /* justify-content: center;
        align-items: center; */
    }

    table{
        margin-top: 23px;
    }

    .calculate-bmi{}

    .calculate-bmi-content{}
    /* .bmi-content-header{} */
    .calculate-bmi-content p{
        max-width: 346px;
        margin: 14px 0 34px;
    }

    input, select{
        width: 100%;
    }

    .calculate-bmi button{
        padding: 16px 70.5px;
    }

    /* team container */
    .team-container{
        padding: 66px 0;
    }
    .team-section{}

    .meet-team-content{
        margin: 0 auto 37px;
    }
    .team-member-img{
        /* max-width: 353px; */
        height: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .team-member-img img{
        width: 313px;
    }
    .desktop-img-part1{
        order: 1;
    }
    .desktop-img-part2{
        order: 2;
    }
    .desktop-img-part3{
        order: 3;
    }
    .desktop-img-part4{
        order: 4;
    }

    /* faq container section */
    .faq-container{
        padding-bottom: 66px;
    }
    .faq-container-section{
        /* justify-content: space-around; */
        flex-direction: column;
        height: auto;
        padding: 50px 20px;
    }

    .faq-left-part{
        flex-direction: column;
    }

    .faq-heading{
        margin-bottom: 42px;
    }
    .faq-heading h2{
        text-align: center;
        font-size: 2rem;
        width: auto;
    }

    .faq-footer-part{
        margin: 0 auto 42px;
    }
    .faq-img-section{
        margin: 0 auto;
    }
    .faq-footer-part h6, 
    .faq-footer-part p{
        text-align: center;
    }

    .faq-right-part{
        width: auto;
    }
    /* .question, 
    .answer{
        text-align: center;
        padding: 13px 20px;
    } */

    /* footer container */
    .footer-container{
        height: 986px;
        padding: 44px 0 57px;
    }
    .footer-content-top{
        flex-direction: column;
    }
    .brand-information{
        margin-bottom: 30px;
    }
    .brand-information h2{
        font-size: 4.37rem;
        margin-bottom: 20px;
    }
    .brand-information p{
        max-width: 310px;
    }
    .site-links h4{
        margin-bottom: 39px;
    }
    .footer-section hr{
        margin: 72px 0 41px;
    }
    .footer-content-bottom{
        text-align: start;
    }
}
/* tablet responsiveness */
/* @media screen and (min-width: 576px) and (max-width: 992px){
    
} */